/*
 * author: lixinjie
 * date: 20170501
 * 修改样式时，请修改对应less
 * */
@charset "utf-8";
/* 让 IE 浏览器对不识别的 html5 元素将其当做块元素处理*/
details,
main,
summary {
  display: block;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
  margin: 0;
}
input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
ol,
menu,
th,
td {
  padding: 0;
}
hr,
progress,
input,
textarea,
button,
select,
fieldset {
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*===引入normalize.css的样式===*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.page-width {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  color: #333333;
  background-color: #fff;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
/* ===链接=== */
a {
  color: #333333;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
/* ===文本=== */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
article h1,
section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
.sub-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
/* ===嵌入式内容=== */
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
/* ===分组内容=== */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
/* ===表单=== */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button:focus,
html [type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/* ===表格=== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
/* ===列表=== */
ol,
ul {
  list-style-type: none;
}
/* ===关于浮动=== */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
figure {
  overflow: hidden;
}
figure a {
  display: block;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
label {
  cursor: pointer;
}
label:hover {
  opacity: .8;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .4s ease .1s;
}
.center-content {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.middle-img {
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*===矢量图标字体===*/
@font-face {
  font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1493607651326');
  src: url('../iconfont/iconfont.eot?t=1493607651326#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff?t=1493607651326') format('woff'), /* chrome, firefox */ url('../iconfont/iconfont.ttf?t=1493607651326') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg?t=1493607651326#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before {
  content: "\e603";
}
.icon-password:before {
  content: "\e632";
}
.icon-time:before {
  content: "\e6b8";
}
.icon-shoucang:before {
  content: "\e604";
}
.icon-expert-review:before {
  content: "\e619";
}
.icon-answer:before {
  content: "\e625";
}
.icon-keyboard:before {
  content: "\e6a7";
}
.icon-message1:before {
  content: "\e8f7";
}
.icon-working:before {
  content: "\e61a";
}
.icon-phone:before {
  content: "\e615";
}
.icon-scan:before {
  content: "\e65b";
}
.icon-stick:before {
  content: "\e68e";
}
.icon-waiting:before {
  content: "\e630";
}
.icon-username:before {
  content: "\e6a8";
}
.icon-voting:before {
  content: "\e673";
}
.icon-past:before {
  content: "\e608";
}
.icon-write-message:before {
  content: "\e662";
}
.icon-question:before {
  content: "\e646";
}
.icon-signup:before {
  content: "\e683";
}
.icon-date:before {
  content: "\e8a6";
}
.icon-test:before {
  content: "\e600";
}
.icon-repassword:before {
  content: "\e6b0";
}
.icon-signin:before {
  content: "\e602";
}
.icon-crm:before {
  content: "\e65c";
}
.icon-introduction:before {
  content: "\e65d";
}
.icon-message:before {
  content: "\e65e";
}
.icon-quota:before {
  content: "\e65f";
}
.icon-kehu:before {
  content: "\e660";
}
.icon-qiye:before {
  content: "\e661";
}
.icon-quanxian:before {
  content: "\e663";
}
.icon-resource:before {
  content: "\e664";
}
.icon-exam:before {
  content: "\e665";
}
.icon-info:before {
  content: "\e666";
}
.icon-xiaoshou:before {
  content: "\e667";
}
.icon-sampling:before {
  content: "\e668";
}
.icon-online:before {
  content: "\e669";
}
.icon-reprot:before {
  content: "\e66a";
}
.icon-anquan:before {
  content: "\e66b";
}
.icon-banben:before {
  content: "\e66c";
}
.icon-see:before {
  content: "\e62d";
}
.icon-disabled:before {
  content: "\e601";
}
.icon-fill:before {
  content: "\e60b";
}
.icon-shezhi:before {
  content: "\e680";
}
.icon-area:before {
  content: "\e687";
}
.icon-im:before {
  content: "\e68a";
}
.icon-vote:before {
  content: "\e68b";
}
.icon-reported:before {
  content: "\e624";
}
.icon-verification:before {
  content: "\e6a9";
}
/*===首页===*/
/*头部*/
#header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 80px;
  background-color: #fff;
  border-bottom: 2px solid #bab8bb;
}
#header #logo {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  width: 385px;
  height: 80px;
}
#header #logo img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#header #slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 396px;
  height: 64px;
}
#header #signinSignup {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  height: 45px;
  font-size: 0;
}
#header #signinSignup a {
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 41px;
  text-align: center;
  color: #666;
  font-size: 18px;
  border: 2px solid #ededed;
  transition: all .4s ease .1s;
}
#header #signinSignup a:first-of-type {
  margin-right: 25px;
}
#header #signinSignup a i {
  color: #666;
  margin-right: 8px;
  font-size: 18px;
  transition: all .4s ease .1s;
}
#header #signinSignup a:hover {
  border: 2px solid #14c2b0;
  color: #fff;
  background-color: #14c2b0;
}
#header #signinSignup a:hover i {
  color: #fff;
}
#header #nav {
  display: none;
  position: absolute;
  height: 50px;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
#header #nav ul:before {
  content: "";
  display: table;
}
#header #nav ul:after {
  content: "";
  display: table;
  clear: both;
}
#header #nav ul li {
  float: left;
}
#header #nav ul li a {
  display: block;
  height: 50px;
  line-height: 46px;
  padding-right: 42px;
  padding-left: 42px;
  color: #666;
  font-size: 18px;
  border: 2px solid #ededed;
  margin-right: 10px;
  transition: all .4s ease .1s;
}
#header #nav ul li a:hover,
#header #nav ul li a.active {
  border: 2px solid #14c2b0;
  color: #fff;
  background-color: #14c2b0;
}
#header #nav ul li:last-of-type a {
  margin-right: 0;
}
/*主要内容*/
#loginMain {
  height: 100%;
}
#main {
  padding-top: 80px;
}
.banner {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 604px;
}
.carousel {
  position: relative;
  width: 1920px;
  max-width: 100%;
  height: 604px;
}
.carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 1920px;
  height: 604px;
  overflow: hidden;
}
.carousel-inner > .item {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 1920px;
  height: 604px;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item img:first-of-type {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 604px;
}
.carousel-inner > .item img:last-of-type {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 969px;
  height: 382px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  z-index: 999;
  position: absolute;
  top: 50%;
  width: 58px;
  height: 116px;
  background-repeat: no-repeat;
}
.carousel-control.left {
  left: 50%;
  transform: translate(-542px, -50%);
  background-image: url(../images/left.png);
}
.carousel-control.right {
  left: 50%;
  transform: translate(484px, -50%);
  background: url(../images/right.png);
}
.carousel-control:hover,
.carousel-control:focus {
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: -50px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #babdbf;
  border-radius: 50%;
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  background-color: #12c2b0;
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
/*中心概况*/
.general-profile {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}
.general-profile h2 {
  width: 1200px;
  height: 110px;
  background: url(../images/divider-line-left.png) 313px 98px no-repeat, url(../images/divider-line-right.png) 600px 98px no-repeat;
  text-align: center;
}
.general-profile h2 span {
  display: block;
}
.general-profile h2 span.cn {
  font-size: 30px;
  color: #494949;
}
.general-profile h2 span.en {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
}
.general-profile ul {
  margin-top: 25px;
}
.general-profile ul:before {
  content: "";
  display: table;
}
.general-profile ul:after {
  content: "";
  display: table;
  clear: both;
}
.general-profile ul li {
  float: left;
  width: 33.33333333%;
  padding: 100px 30px 0;
  border: 1px solid #e2e2e2;
  background-repeat: no-repeat;
  background-position: center 20px;
  transition: all .4s ease .1s;
}
.general-profile ul li.about {
  background-image: url(../images/introduction-icon.png);
}
.general-profile ul li.events {
  background-image: url(../images/summary-icon.png);
}
.general-profile ul li.projects {
  background-image: url(../images/assessment-icon.png);
}
.general-profile ul li h3 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 15px;
}
.general-profile ul li h3 span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.general-profile ul li h3 span.cn {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 2px solid #dbdbdb;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
.general-profile ul li h3 span.en {
  display: block;
  font-size: 16px;
  color: #14c2b0;
  line-height: 1.6;
}
.general-profile ul li p {
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: .1em;
  height: 100px;
  overflow: hidden;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 5px;
}
.general-profile ul li:hover {
  border-color: #8fcc34;
  box-shadow: 0 0 15px #8fcc34;
}
.general-profile ul li:hover p {
  border-bottom-color: #d8eeea;
}
.general-profile ul li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: -30px;
  margin-left: -30px;
  text-align: center;
  transition: all .4s ease .1s;
}
.general-profile ul li a span {
  text-align: center;
  transition: all .4s ease .1s;
}
.general-profile ul li a span.cn {
  display: inline-block;
  position: relative;
  color: #14c2b0;
  font-size: 14px;
  margin-left: -20px;
}
.general-profile ul li a span.cn:after {
  content: ">";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}
.general-profile ul li a span.en {
  display: block;
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
}
.general-profile ul li a:hover {
  background-color: #8fcc34;
}
.general-profile ul li a:hover span {
  color: #333333;
}
/*新闻中心*/
.news-center {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}
.news-center .h2-bg {
  width: 100%;
  height: 145px;
  background-color: #2bb174;
  padding-top: 20px;
  padding-bottom: 20px;
}
.news-center h2 {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 105px;
  text-align: center;
  background: url(../images/divider-line-left.png) left 70px no-repeat, url(../images/divider-line-right.png) right 70px no-repeat;
}
.news-center h2 span {
  display: block;
  color: #fff;
}
.news-center h2 span.cn {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.6;
}
.news-center h2 span.en {
  font-size: 32px;
  text-transform: uppercase;
}
.news-center .news-classify {
  margin-top: 30px;
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #dadbdd;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
}
.news-center .news-classify:before {
  content: "";
  display: table;
}
.news-center .news-classify:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify h3 {
  float: left;
  width: 170px;
}
.news-center .news-classify h3 span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-center .news-classify h3 span.en {
  font-size: 16px;
  line-height: 1.3;
  color: #666;
}
.news-center .news-classify h3 span.en:first-letter {
  font-size: 20px;
  text-transform: uppercase;
}
.news-center .news-classify h3 span.cn {
  font-size: 24px;
  line-height: 1.3;
  color: #333333;
}
.news-center .news-classify ul {
  float: left;
  width: 800px;
}
.news-center .news-classify ul:before {
  content: "";
  display: table;
}
.news-center .news-classify ul:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify ul li {
  width: 355px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  margin-right: 90px;
  margin-bottom: 20px;
  height: 50px;
}
.news-center .news-classify ul li:before {
  content: "";
  display: table;
}
.news-center .news-classify ul li:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify ul li time {
  display: block;
  float: left;
  width: 85px;
  height: 50px;
}
.news-center .news-classify ul li time span {
  display: inline-block;
}
.news-center .news-classify ul li time span.day {
  color: #14c2b0;
  font-size: 32px;
}
.news-center .news-classify ul li time span.month {
  color: #ccc;
  font-size: 22px;
  position: relative;
  left: 5px;
  top: 15px;
}
.news-center .news-classify ul li time span.month:after {
  content: "/";
  position: absolute;
  bottom: 3px;
  left: -10px;
  font-size: 30px;
}
.news-center .news-classify ul li .chief {
  float: left;
  width: 270px;
}
.news-center .news-classify ul li .chief > div {
  height: 30px;
  line-height: 30px;
}
.news-center .news-classify ul li .chief > div:before {
  content: "";
  display: table;
}
.news-center .news-classify ul li .chief > div:after {
  content: "";
  display: table;
  clear: both;
}
.news-center .news-classify ul li .chief > div > i {
  color: #ffba00;
  float: left;
  font-size: 20px;
}
.news-center .news-classify ul li .chief > div > span {
  display: inline-block;
  color: #ffba00;
  text-align: right;
  float: right;
}
.news-center .news-classify ul li .chief h4 {
  width: 100%;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
}
.news-center .news-classify ul li .chief h4 a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .4s ease .1s;
}
.news-center .news-classify ul li .chief h4 a:hover {
  color: #ffba00;
}
.news-center .news-classify ul li:nth-of-type(2n+2) {
  margin-right: 0;
}
.news-center .news-classify > a {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: block;
  padding: 8px 22px;
  background-color: #00bb8a;
  transition: background-color 0.3s linear 0s;
  color: #fff;
  text-transform: uppercase;
}
.news-center .news-classify > a:hover {
  background-color: #06b4a2;
}
/*服务*/
.service {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}
.service h2 {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  text-align: center;
  background: url(../images/divider-line-left.png) left 65px no-repeat, url(../images/divider-line-right.png) right 65px no-repeat;
}
.service h2 span {
  display: block;
}
.service h2 span.cn {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.6;
  color: #494949;
}
.service h2 span.en {
  font-size: 26px;
  text-transform: uppercase;
  color: #5c5c5c;
}
.service ul {
  margin-top: 120px;
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.service ul:before {
  content: "";
  display: table;
}
.service ul:after {
  content: "";
  display: table;
  clear: both;
}
.service ul li {
  float: left;
  width: 25%;
  height: 210px;
}
.service ul li a {
  z-index: 11;
  display: block;
  position: relative;
  border: 1px solid #e2e2e2;
  width: 100%;
  height: 210px;
  text-align: center;
  overflow: hidden;
  transition: all .4s ease .1s;
}
.service ul li a .hasicon {
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  padding-top: 30px;
  transition: all .4s ease .1s;
}
.service ul li a .hasicon i {
  display: inline-block;
  font-size: 50px;
  color: #3cc1d8;
  padding: 10px 15px 0;
  border-bottom: 1px solid #999;
}
.service ul li a .hasicon h4 {
  margin-top: 15px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.service ul li a .hasicon h4 span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.service ul li a .hasicon h4 span.cn {
  font-size: 16px;
  color: #544a4a;
  margin-bottom: 5px;
}
.service ul li a .hasicon h4 span.en {
  font-size: 14px;
  color: #a2a2a2;
  text-transform: uppercase;
}
.service ul li a .noicon {
  opacity: 0;
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210px;
  line-height: 1.5;
  transition: all .5s linear 0s;
  background-color: #fff;
  overflow: hidden;
}
.service ul li a .noicon .content {
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.service ul li a .noicon h4 {
  font-size: 16px;
  color: #544a4a;
  margin-bottom: 15px;
}
.service ul li a .noicon p {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}
.service ul li a:hover {
  border-color: #65a639;
}
.service ul li a:hover .hasicon {
  opacity: 0;
}
.service ul li a:hover .noicon {
  opacity: 1;
}
/*决策依据，监测评估*/
.slogan2 {
  margin-top: 60px;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 152px;
  background: url(../images/slogan2-bg.png) repeat-x;
}
.slogan2 img {
  display: block;
  width: 1440px;
  height: 152px;
}
/*底部*/
#footer .supplement {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 60px;
}
#footer .supplement:before {
  content: "";
  display: table;
}
#footer .supplement:after {
  content: "";
  display: table;
  clear: both;
}
#footer .supplement .left {
  float: left;
  max-width: 440px;
  padding-right: 40px;
}
#footer .supplement .left .link {
  margin-bottom: 30px;
}
#footer .supplement .left .link:before {
  content: "";
  display: table;
}
#footer .supplement .left .link:after {
  content: "";
  display: table;
  clear: both;
}
#footer .supplement .left .link > div {
  float: left;
  position: relative;
  padding-right: 90px;
}
#footer .supplement .left .link > div:last-of-type {
  padding-right: 50px;
}
#footer .supplement .left .link > div:last-of-type:after {
  top: 0;
  right: 1px;
}
#footer .supplement .left .link > div:after {
  content: "";
  position: absolute;
  top: 0;
  right: 49px;
  width: 1px;
  height: 60px;
  background-color: #ccc;
}
#footer .supplement .left .link > div h4 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
}
#footer .supplement .left .link > div a {
  display: block;
  font-size: 12px;
  color: #666;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all .4s ease .1s;
}
#footer .supplement .left .link > div a:hover {
  color: #14c2b0;
}
#footer .supplement .left p {
  font-size: 12px;
  color: #bca595;
  line-height: 1.5;
  margin-bottom: 10px;
}
#footer .supplement .left .logo2 {
  width: 356px;
  height: 61px;
  margin-top: 30px;
}
#footer .supplement .center {
  float: left;
}
#footer .supplement .center h4 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
}
#footer .supplement .center a {
  display: block;
  font-size: 12px;
  color: #666;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all .4s ease .1s;
}
#footer .supplement .center a:hover {
  color: #14c2b0;
}
#footer .supplement .right {
  float: right;
}
#footer .supplement .right .tel {
  font-size: 0;
  color: #333333;
  margin-bottom: 15px;
}
#footer .supplement .right .tel i {
  font-size: 60px;
  display: inline-block;
  border-right: 1px solid #b6b6b6;
  padding-right: 10px;
  margin-right: 15px;
  color: #656565;
}
#footer .supplement .right .tel span {
  display: inline-block;
  line-height: 1.5;
  font-size: 20px;
}
#footer .supplement .right .tel span strong {
  font-size: 18px;
  color: #975217;
}
#footer .supplement .right p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}
#footer .supplement .right p a {
  color: #666;
}
#footer .supplement .right .count-code {
  margin-top: 20px;
}
#footer .supplement .right .count-code > div,
#footer .supplement .right .count-code > figure {
  float: left;
  width: 170px;
  height: 170px;
  border: 1px solid #ccc;
  text-align: center;
}
#footer .supplement .right .count-code .count {
  background: transparent url(../images/count.jpg) no-repeat center 30px;
  padding-top: 130px;
  font-size: 18px;
  color: #333333;
  letter-spacing: 5px;
  padding-left: 5px;
  font-weight: bold;
}
#footer .supplement .right .count-code figure {
  position: relative;
}
#footer .supplement .right .count-code figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer .copyright-bg {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2fa696;
}
#footer .copyright-bg .copyright {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer .copyright-bg .copyright small {
  display: inline-block;
  vertical-align: middle;
  color: #b2dfe5;
}
#footer .copyright-bg .copyright img {
  display: inline-block;
  vertical-align: middle;
}
#footer .other {
  z-index: 9999;
  position: fixed;
  top: 400px;
  right: 25px;
}
#footer .other .weixin {
  margin-bottom: 15px;
  position: relative;
}
#footer .other .weixin i {
  display: block;
  background-color: #499e4e;
  color: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 56px;
  border-radius: 50%;
}
#footer .other .weixin .weixin-code {
  display: none;
  position: absolute;
  top: 0;
  right: 80px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #999;
  padding: 5px;
  text-align: center;
  background-color: #fff;
}
#footer .other .weixin .weixin-code span {
  display: block;
  font-size: 14px;
  line-height: 1.8;
}
#footer .other .collect {
  position: relative;
}
#footer .other .collect i {
  display: block;
  background-color: #499e4e;
  color: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 46px;
  border-radius: 50%;
}
/*===登录===*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent url(../images/login-bg.jpg) no-repeat center / 100% 100%;
}
.login figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-527px, -50%);
  width: 487px;
  height: 420px;
}
.login #loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(40px, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px #999;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}
.login #loginForm h1 {
  font-size: 24px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.login #loginForm i.icon-signin {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  background-color: #acacac;
  font-size: 46px;
  color: #fff;
  margin-bottom: 40px;
}
.login #loginForm .username,
.login #loginForm .password {
  margin-bottom: 15px;
}
.login #loginForm .username:before,
.login #loginForm .password:before {
  content: "";
  display: table;
}
.login #loginForm .username:after,
.login #loginForm .password:after {
  content: "";
  display: table;
  clear: both;
}
.login #loginForm .username label,
.login #loginForm .password label {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: #a1a1a1;
}
.login #loginForm .username label i,
.login #loginForm .password label i {
  color: #fff;
  font-size: 22px;
}
.login #loginForm .username input,
.login #loginForm .password input {
  display: block;
  float: left;
  width: 240px;
  height: 36px;
  line-height: 34px;
  padding-left: 10px;
  border-width: 1px 1px 1px 0;
  border-color: #b0b0b0;
  border-style: solid;
  font-size: 14px;
}
.login #loginForm .group {
  margin-top: 30px;
}
.login #loginForm .group:before {
  content: "";
  display: table;
}
.login #loginForm .group:after {
  content: "";
  display: table;
  clear: both;
}
.login #loginForm .group label {
  display: block;
  float: left;
  color: #666;
  font-size: 14px;
}
.login #loginForm .group label input {
  margin-right: 10px;
}
.login #loginForm .group button {
  display: block;
  float: left;
  color: #fff;
  background-color: #00d1ab;
  padding-right: 34px;
  padding-left: 34px;
  height: 34px;
  line-height: 34px;
}
.login #loginForm .group button:hover {
  background-color: #00b089;
}
.login #loginForm .group a {
  display: block;
  float: right;
  color: #6377e0;
  font-size: 14px;
}
.login #loginForm .group a.signup {
  text-decoration: underline;
  height: 34px;
  line-height: 34px;
}
/*===新闻列表===*/
.news-list-container {
  width: 920px;
  margin-right: auto;
  margin-left: auto;
}
.news-list {
  margin-top: 60px;
}
.news-list li {
  position: relative;
  height: 98px;
  margin-top: 25px;
  padding-left: 95px;
  padding-top: 10px;
}
.news-list li:nth-of-type(even) {
  background: transparent url(../images/news-item-even-icon.png) left top no-repeat;
}
.news-list li:nth-of-type(odd) {
  background: transparent url(../images/news-item-odd-icon.png) left top no-repeat;
}
.news-list li > i {
  display: block;
  position: absolute;
  top: 10px;
  left: 95px;
  font-size: 20px;
  color: #ffba00;
  margin-right: 20px;
}
.news-list li .text {
  width: 620px;
  height: 88px;
  position: absolute;
  top: 10px;
  left: 157px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.news-list li .text h2 {
  font-size: 16px;
  color: #575757;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}
.news-list li .text p {
  font-size: 14px;
  color: #999;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
}
.news-list li .group {
  position: absolute;
  top: 10px;
  right: 0;
}
.news-list li .group .date {
  font-size: 12px;
  color: #575757;
  margin-bottom: 5px;
}
.news-list li .group .scan-count {
  font-size: 12px;
  color: #575757;
}
.news-list li .group a {
  font-size: 14px;
  color: #6377e0;
}
.pagination-container {
  text-align: center;
}
.pagination-container .pagination {
  margin-top: 70px;
}
/*===新闻详情===*/
.news-article-type-bg {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 250px;
  border-bottom: 1px solid #f4f4f4;
  background: transparent url(../images/news-article-type-bg.png) repeat-x;
}
/*面包屑导航*/
.breadcrumbs {
  width: 920px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  position: relative;
  height: 31px;
  line-height: 31px;
  margin-bottom: 30px;
}
.breadcrumbs ol {
  position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  line-height: 31px;
}
.breadcrumbs ol li {
  position: relative;
  display: inline-block;
  height: 31px;
  line-height: 31px;
  padding-left: 100px;
  color: #999;
}
.breadcrumbs ol li:before {
  content: "|";
  position: absolute;
  top: 0;
  right: -50px;
}
.breadcrumbs ol li:first-child {
  padding-left: 0;
}
.breadcrumbs ol li:last-child {
  padding-left: 102px;
}
.breadcrumbs ol li:last-child:before {
  content: "";
}
/*文章*/
.artilce {
  width: 920px;
  margin: 85px auto 120px;
}
.artilce h2 {
  font-size: 20px;
  color: #323232;
  margin-bottom: 26px;
  text-align: center;
  line-height: 1.5;
}
.artilce .group {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  height: 35px;
  line-height: 34px;
  border-bottom: 1px solid #ccc;
  padding-right: 40px;
  padding-left: 40px;
}
.artilce .group:before {
  content: "";
  display: table;
}
.artilce .group:after {
  content: "";
  display: table;
  clear: both;
}
.artilce .group span {
  display: block;
  color: #666;
  font-size: 14px;
}
.artilce .group span i {
  margin-right: 5px;
}
.artilce .group span.date {
  float: left;
}
.artilce .group span.scan-count {
  float: right;
}
.artilce article {
  padding: 40px 0 80px;
  line-height: 1.8;
  font-size: 14px;
  color: #333;
}
.artilce .page {
  padding-right: 140px;
  padding-left: 140px;
}
.artilce .page:before {
  content: "";
  display: table;
}
.artilce .page:after {
  content: "";
  display: table;
  clear: both;
}
.artilce .page > div a {
  position: relative;
  display: block;
  padding: 5px 8px;
  border: 1px solid #bbb;
}
.artilce .page > div a:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
}
.artilce .page > div a:hover {
  border-color: #999;
}
.artilce .page > div.prev a {
  float: left;
}
.artilce .page > div.prev a:before {
  left: -40px;
  background: transparent url(../images/page-prev.png) no-repeat center;
}
.artilce .page > div.next a {
  float: right;
}
.artilce .page > div.next a:before {
  right: -40px;
  background: transparent url(../images/page-next.png) no-repeat center;
}
/*===信息上报===*/
.info-reporting {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 240px;
  background: linear-gradient(to bottom, #e5e5e5, #ffffff);
}
.info-reporting-container {
  width: 920px;
  margin: 30px auto 0;
}
.info-reporting-container h2 {
  background-color: #c9b79e;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}
.info-reporting-container h2:before {
  content: "";
  display: table;
}
.info-reporting-container h2:after {
  content: "";
  display: table;
  clear: both;
}
.info-reporting-container h2 strong {
  display: block;
  height: 60px;
  line-height: 60px;
  float: left;
  text-align: center;
  font-size: 18px;
  color: #333333;
}
.info-reporting-container h2 strong:nth-of-type(2) {
  text-align: left;
  padding-left: 60px;
}
.info-reporting-container h2 .title {
  width: 480px;
}
.info-reporting-container h2 .status {
  width: 240px;
}
.info-reporting-container h2 .handle {
  width: 200px;
  background-color: #94b6b2;
}
.info-reporting-container ul li {
  border: 1px solid #d2d2d2;
  height: 80px;
  margin-bottom: 25px;
}
.info-reporting-container ul li:before {
  content: "";
  display: table;
}
.info-reporting-container ul li:after {
  content: "";
  display: table;
  clear: both;
}
.info-reporting-container ul li > div {
  float: left;
}
.info-reporting-container ul li > div.info {
  width: 718px;
  height: 78px;
}
.info-reporting-container ul li > div.info h3 {
  width: 480px;
  height: 39px;
  line-height: 39px;
  padding-left: 50px;
  font-size: 16px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-reporting-container ul li > div.info .time-status {
  height: 39px;
  line-height: 39px;
  background-color: #f2f2f2;
}
.info-reporting-container ul li > div.info .time-status:before {
  content: "";
  display: table;
}
.info-reporting-container ul li > div.info .time-status:after {
  content: "";
  display: table;
  clear: both;
}
.info-reporting-container ul li > div.info .time-status .time {
  width: 478px;
  padding-left: 50px;
  float: left;
}
.info-reporting-container ul li > div.info .time-status .time i {
  margin-right: 10px;
}
.info-reporting-container ul li > div.info .time-status .time span {
  font-size: 14px;
  color: #d3b36c;
}
.info-reporting-container ul li > div.info .time-status .time span:last-of-type {
  position: relative;
  padding-left: 30px;
}
.info-reporting-container ul li > div.info .time-status .time span:last-of-type:before {
  content: "~";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #333333;
}
.info-reporting-container ul li > div.info .time-status .status {
  float: left;
  width: 240px;
  text-align: center;
}
.info-reporting-container ul li > div.info .time-status .status:nth-of-type(2) {
  text-align: left;
  padding-left: 40px;
}
.info-reporting-container ul li > div.info .time-status .status.working {
  color: #f90;
}
.info-reporting-container ul li > div.info .time-status .status.waiting {
  color: #8bccc4;
}
.info-reporting-container ul li > div.info .time-status .status.past {
  color: #999;
}
.info-reporting-container ul li > div.info .time-status .status i {
  color: #333333;
}
.info-reporting-container ul li > div.handle {
  border-left: 1px solid #dedede;
  width: 200px;
  height: 78px;
  position: relative;
}
.info-reporting-container ul li > div.handle a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
}
.info-reporting-container ul li > div.handle a i {
  font-size: 18px;
}
.info-reporting-container ul li > div.handle a.fill {
  background-color: #57c3b3;
}
.info-reporting-container ul li > div.handle a.fill:hover {
  background-color: #249080;
}
.info-reporting-container ul li > div.handle a.voting {
  background-color: #b29d80;
}
.info-reporting-container ul li > div.handle a.voting:hover {
  background-color: #7f6a4d;
}
.info-reporting-container ul li > div.handle a.reported {
  background-color: #8bccc4;
}
.info-reporting-container ul li > div.handle a.reported:hover {
  background-color: #589991;
}
.info-reporting-container ul li > div.handle a.see {
  background-color: #707a79;
}
.info-reporting-container ul li > div.handle a.see:hover {
  background-color: #3d4746;
}
.info-reporting-container ul li > div.handle a.disabled {
  cursor: not-allowed;
  color: #999;
}
.info-reporting-container ul li > div.handle a.disabled i {
  font-size: 36px;
}
.info-reporting-container ul li:last-of-type {
  margin-bottom: 0;
}
.slogan3 {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  background-color: #287cdc;
  margin-top: 110px;
}
/*===留言板===*/
.message-board {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 240px;
  background: linear-gradient(to bottom, #e5e5e5, #ffffff);
}
.message-container {
  width: 920px;
  margin: 60px auto 0;
}
.message-container .message-list li {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;
}
.message-container .message-list li > div:before {
  content: "";
  display: table;
}
.message-container .message-list li > div:after {
  content: "";
  display: table;
  clear: both;
}
.message-container .message-list li > div > i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}
.message-container .message-list li > div .wrap {
  width: 520px;
  padding: 0 25px 15px;
  border-radius: 5px;
}
.message-container .message-list li > div .wrap .nickname {
  position: relative;
  height: 50px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 0;
}
.message-container .message-list li > div .wrap .nickname:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.message-container .message-list li > div .wrap .nickname span {
  line-height: 49px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #334c70;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message-container .message-list li > div .wrap .nickname strong {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #f28214;
  background-color: #fff;
  margin-left: 8px;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #f28214;
}
.message-container .message-list li > div .wrap .details {
  font-size: 16px;
  color: #2e394a;
  line-height: 1.5;
  margin-bottom: 15px;
}
.message-container .message-list li > div .wrap .details p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.message-container .message-list li > div .wrap .datetime i {
  font-size: 14px;
  color: #7a8493;
  margin-right: 10px;
}
.message-container .message-list li > div .wrap .datetime em {
  font-size: 12px;
  color: #7a8493;
  font-style: normal;
}
.message-container .message-list li .question {
  margin-bottom: 20px;
}
.message-container .message-list li .question > i {
  background-color: #14c2b0;
  float: left;
  margin-right: 30px;
}
.message-container .message-list li .question .wrap {
  float: left;
  background-color: #b7dcfe;
}
.message-container .message-list li .question .wrap .nickname {
  border-bottom: 1px solid #a8cbea;
}
.message-container .message-list li .question .wrap .nickname:before {
  left: -33px;
  border-right: 10px solid #b7dcfe;
}
.message-container .message-list li .answer > i {
  background-color: #ffb83b;
  float: right;
  margin-left: 30px;
}
.message-container .message-list li .answer .wrap {
  float: right;
  background-color: #ffda87;
}
.message-container .message-list li .answer .wrap .nickname {
  border-bottom: 1px solid #edc97d;
  text-align: right;
}
.message-container .message-list li .answer .wrap .nickname:before {
  right: -33px;
  border-left: 10px solid #ffda87;
}
.message-container .message-list li:last-of-type {
  margin-bottom: 0;
}
/*留言框*/
.write-message i {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: block;
  width: 76px;
  height: 76px;
  line-height: 76px;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  color: #fff;
  background-color: #4aa04f;
  cursor: pointer;
}
.write-message i:hover {
  background-color: #176d1c;
}
.write-message .my-message-container {
  z-index: 99999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.write-message .my-message-container .my-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  background-color: #fff;
  border-radius: 15px;
}
.write-message .my-message-container .my-message h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.write-message .my-message-container .my-message h3 span {
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 28px;
}
.write-message .my-message-container .my-message h3 span:after {
  content: ">";
  position: absolute;
  top: 50%;
  right: -26px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  line-height: 17px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #15c2af;
}
.write-message .my-message-container .my-message .content figure {
  display: inline-block;
  vertical-align: middle;
  width: 217px;
  height: 212px;
  margin-right: 15px;
}
.write-message .my-message-container .my-message .content form {
  display: inline-block;
  vertical-align: middle;
}
.write-message .my-message-container .my-message .content form > div {
  margin-bottom: 15px;
}
.write-message .my-message-container .my-message .content form > div:before {
  content: "";
  display: table;
}
.write-message .my-message-container .my-message .content form > div:after {
  content: "";
  display: table;
  clear: both;
}
.write-message .my-message-container .my-message .content form > div label {
  float: left;
  display: block;
  height: 34px;
  line-height: 34px;
  width: 70px;
  margin-right: 20px;
  text-align: right;
  font-size: 16px;
  color: #333333;
}
.write-message .my-message-container .my-message .content form > div input {
  float: left;
  display: block;
  width: 240px;
  height: 34px;
  line-height: 32px;
  border: 1px solid #b9b9b9;
  padding-left: 10px;
  font-size: 12px;
  color: #999;
}
.write-message .my-message-container .my-message .content form > div textarea {
  float: left;
  width: 380px;
  max-width: 380px;
  min-width: 380px;
  line-height: 28px;
  height: 160px;
  min-height: 80px;
  max-height: 200px;
  border: 1px solid #b9b9b9;
  padding: 5px 10px;
  font-size: 12px;
  color: #999;
}
.write-message .my-message-container .my-message .content form button {
  margin-top: 30px;
  margin-left: 90px;
  padding: 8px 40px;
  font-size: 16px;
  background-color: #00d1ab;
  color: #fff;
}
.write-message .my-message-container .my-message .content form button:hover {
  background-color: #009e78;
}
/*题库系统*/
.question-system {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 254px;
  background: linear-gradient(to bottom, #b8b8e8, #d7d4ff);
}
.expert-review {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 308px;
  background: transparent url(../images/expert-review-bg.png) repeat-x;
}
.call-for-question {
  width: 1070px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.call-for-question h3 {
  text-align: center;
}
.call-for-question h3 span {
  display: block;
}
.call-for-question h3 span.cn {
  font-size: 28px;
  color: #333333;
  margin-bottom: 10px;
}
.call-for-question h3 span.en {
  display: inline-block;
  font-size: 28px;
  color: #ccc;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  text-transform: capitalize;
}
.call-for-question ul {
  margin-top: 70px;
}
.call-for-question ul:before {
  content: "";
  display: table;
}
.call-for-question ul:after {
  content: "";
  display: table;
  clear: both;
}
.call-for-question ul li {
  width: 420px;
  height: 204px;
  padding: 20px 25px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.call-for-question ul li:first-of-type {
  float: left;
  margin-left: 50px;
}
.call-for-question ul li:last-of-type {
  float: right;
  margin-right: 50px;
  position: relative;
}
.call-for-question ul li:last-of-type:before {
  content: "or";
  position: absolute;
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #ffab26;
  font-size: 28px;
}
.call-for-question ul li:hover {
  box-shadow: 0 0 10px #d7d4ff;
}
.call-for-question ul li a {
  display: block;
  padding-top: 80px;
  width: 100%;
  height: 100%;
}
.call-for-question ul li a h4 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
}
.call-for-question ul li a h4 span {
  color: #ffab26;
}
.call-for-question ul li a p {
  font-size: 15px;
  line-height: 1.5;
  color: #999;
}
.call-for-question ul li:first-of-type a {
  background: transparent url(../images/topic-offer-type-one.jpg) right top no-repeat;
}
.call-for-question ul li:last-of-type a {
  background: transparent url(../images/topic-offer-type-two.jpg) left top no-repeat;
  padding-left: 220px;
}
.query-question-form {
  margin: 50px auto 0;
  width: 600px;
  min-height: 80px;
  background: transparent url(../images/call-for-question.jpg) no-repeat left top;
  padding-left: 180px;
}
.query-question-form > div {
  margin-bottom: 15px;
}
.query-question-form > div label {
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: right;
  font-size: 16px;
  color: #333333;
}
.query-question-form > div label input {
  display: inline-block;
  width: 270px;
  height: 34px;
  margin-left: 20px;
  line-height: 32px;
  border: 1px solid #b9b9b9;
  padding-left: 20px;
  font-size: 12px;
  color: #999;
}
.query-question-form > div .tip {
  display: inline-block;
  margin-left: 190px;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: #999;
}
.query-question-form > div .tip:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  font-weight: bold;
  background-color: #ffab26;
}
.query-question-form button {
  margin-top: 30px;
  margin-left: 170px;
  padding: 8px 40px;
  font-size: 16px;
  background-color: #00d1ab;
  color: #fff;
}
.query-question-form button:hover {
  background-color: #009e78;
}
.generation-system {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  height: 300px;
  background: transparent url(../images/generation-system-bg.png) repeat-x;
}
.more-function {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 113px;
  line-height: 113px;
  margin-top: 70px;
  background: transparent url(../images/more-function.png) 450px center no-repeat;
  padding-left: 620px;
  font-size: 24px;
  color: #ccc;
}
